ARANGO_URL=http://localhost:8529
ARANGO_USERNAME= # Username Here
ARANGO_PASSWORD= # Password Here
ARANGO_DATABASE=stem_career_graph
ARANGO_GRAPH=stem_career_graph

USE_LLM=false
LLM_URL=http://localhost:1234/v1
LLM_MODEL=local-model
LLM_API_KEY=not-needed